html{
    color: darkblue;
    background-color: #fff;
}

main{
    background-image: url('https://i1.sndcdn.com/avatars-000424332303-cag0qn-t240x240.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    background-position: top left;
    background-size: auto;
    /*
    background-size: auto;

    auto -> Tamanho original da imagem (padrão)
    cover -> A imagem cobre todo o elemento, mesmo que corte partes
    contain -> A imagem cabe inteira dentro do elemento (pode sobrar espaço)
    100px 200px -> define largura e altura específicas
    100% 100% -> estica a imagem para cobrir 100% do espaço
    */    
}

/* FONTES 

elemento {
  font-family: nome_da_fonte, fonte_alternativa, tipo_generico;
}

A propriedade @font-face no CSS é usada pra importar e usar uma fonte personalizada, 
que não está instalada no sistema do usuário.

*/


#primeiro-paragrafo{
    color: green;
    font-family: 'Times New Roman', Times, serif;
}

@font-face {
    font-family: 'BungeeSpice-Regular';
    src: url('fonts/BungeeSpice-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

#segundo-paragrafo{
    color: tomato;
    font-family: 'BungeeSpice-Regular', sans-serif;
    
}