html {}

main {
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 2rem;
    /* ESPAÇAMENTO DA PRIMEIRA LINHA*/

}

h1 {
    text-align: center;
}

p {
    text-align: right;
}

#primeiro-paragrafo {
    font-style: italic;
    font-size: 1.5em;
    font-variant: small-caps;
}


#segundo-paragrafo {}

#terceiro-paragrafo {}

footer p {
    text-align: center;
}