h2{
    color: blue;
}

main h1{
    color: cornflowerblue;
}

p{
    color: darkblue;
}

#titulo{
    color: cadetblue;
    text-decoration: underline;
}

.texto-roxo{
    color: blueviolet;
}

.texto-vermelho{
    color: red;
}

span{
    color: tomato;
}